# RP_SIMPLESTORAGE Â∫ìÂ≠òÊä•Ë°®Êé¢Á¥¢ÂàÜÊûê

> Êï∞ÊçÆÊ≤ªÁêÜ/Êï∞‰ªìÂª∫Ê®°ËßÜËßí | ‰ΩïÊñπÁè†ÂÆùËøõÈîÄÂ≠ò‰ΩìÁ≥ª

---

## Êé¢Á¥¢ÁõÆÊ†á
1. ‰∫ÜËß£ RP_SIMPLESTORAGE Ë°®ÁªìÊûÑ
2. **ÈáçÁÇπÂÖ≥Ê≥® QTYPURCHASEREMÔºàÈááË¥≠Êú™ÂõûË¥ßÊï∞Èáè/ÈááË¥≠Ê¨†Êï∞ÔºâÂ≠óÊÆµ**
3. ËØÑ‰º∞Êï∞ÊçÆË¥®ÈáèÂíåÂ°´ÂÖÖÁéá
4. ÂàÜÊûê‰∏é FA_STORAGE Ë°®ÁöÑÂÖ≥Á≥ªÂíåÂ∑ÆÂºÇ
5. ‰∏∫Âª∫ËÆÆË°•Ë¥ßÊï∞ÈáèËÆ°ÁÆóÊèê‰æõÊï∞ÊçÆÊîØÊíë

## ‰∏öÂä°ËÉåÊôØ
- **ÊùéÁªèÁêÜÁß∞Âëº**ÔºöÂ∫ìÂ≠òÊ¨†Êï∞ / ÈááË¥≠Ê¨†Êï∞
- **‰ºØ‰øäÁ≥ªÁªüÂêçÁß∞**ÔºöÈááË¥≠Êú™ÂõûË¥ßÊï∞Èáè
- **‰∏öÂä°Âê´‰πâ**ÔºöÂ∑≤‰∏ãÈááË¥≠ËÆ¢Âçï‰ΩÜÂ∞öÊú™ÂÖ•Â∫ìÁöÑÊï∞ÈáèÔºàÂú®ÈÄîÂ∫ìÂ≠òÔºâ
- **Áî®ÈÄî**Ôºö‰ºòÂåñÂª∫ËÆÆË°•Ë¥ßÊï∞ÈáèËÆ°ÁÆóÔºåÈÅøÂÖçÈáçÂ§ç‰∏ãÂçï

In [1]:
# -*- coding: utf-8 -*-
"""
RP_SIMPLESTORAGE Ë°®Êé¢Á¥¢ÂàÜÊûê - Â∫ìÂ≠òÊä•Ë°®/ÈááË¥≠Ê¨†Êï∞
Êï∞ÊçÆÊ≤ªÁêÜ/Êï∞‰ªìÂª∫Ê®°ËßÜËßí
"""

import sys
import os
# Ê∑ªÂä†È°πÁõÆË∑ØÂæÑÔºå‰ª•‰æøÂØºÂÖ•configÊ®°Âùó
project_path = r'C:\Users\tianhao\PycharmProjects\hefang_dw'
if project_path not in sys.path:
    sys.path.insert(0, project_path)

import oracledb
import pandas as pd
import numpy as np
from datetime import datetime
from config import ORACLE_CONFIG, ORACLE_DSN

print("="*80)
print("RP_SIMPLESTORAGE Ë°®Êé¢Á¥¢ÂàÜÊûê - Â∫ìÂ≠òÊä•Ë°®/ÈááË¥≠Ê¨†Êï∞")
print("="*80)
print(f"ÂàÜÊûêÊó∂Èó¥: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
print()

================================================================================
RP_SIMPLESTORAGE Ë°®Êé¢Á¥¢ÂàÜÊûê - Â∫ìÂ≠òÊä•Ë°®/ÈááË¥≠Ê¨†Êï∞
================================================================================
ÂàÜÊûêÊó∂Èó¥: 2026-01-19 11:55:27

In [2]:
# 1. ËøûÊé•OracleÊï∞ÊçÆÂ∫ìÂπ∂Ê£ÄÊü•Ë°®ÊòØÂê¶Â≠òÂú®
print("„ÄêÊ≠•È™§1„ÄëËøûÊé•OracleÊï∞ÊçÆÂ∫ì...")
conn = oracledb.connect(
    user=ORACLE_CONFIG['user'],
    password=ORACLE_CONFIG['password'],
    dsn=ORACLE_DSN
)
print("‚úì ËøûÊé•ÊàêÂäü\n")

cursor = conn.cursor()

# ÊåáÂÆöÊû∂ÊûÑÔºàschemaÔºâ
TARGET_SCHEMA = 'BOSNDS3'
print(f"ÁõÆÊ†áÊû∂ÊûÑ: {TARGET_SCHEMA}")

# Êü•ÊâæÂåÖÂê´ QTYPURCHASEREM Â≠óÊÆµÁöÑÊâÄÊúâË°®
print(f"\n„ÄêÊ≠•È™§1.1„ÄëÊü•ÊâæÂåÖÂê´ QTYPURCHASEREM Â≠óÊÆµÁöÑË°®...")
sql_find_tables = f"""
SELECT OWNER, TABLE_NAME, COLUMN_NAME, DATA_TYPE, DATA_LENGTH, DATA_PRECISION
FROM ALL_TAB_COLUMNS
WHERE UPPER(COLUMN_NAME) = 'QTYPURCHASEREM'
  AND UPPER(OWNER) = '{TARGET_SCHEMA}'
ORDER BY TABLE_NAME
"""

cursor.execute(sql_find_tables)
tables_with_field = cursor.fetchall()

if tables_with_field:
    print(f"\n‚úì ÊâæÂà∞ {len(tables_with_field)} ‰∏™Ë°®ÂåÖÂê´ QTYPURCHASEREM Â≠óÊÆµÔºö")
    df_tables = pd.DataFrame(tables_with_field, columns=['OWNER', 'TABLE_NAME', 'COLUMN_NAME', 'DATA_TYPE', 'LENGTH', 'PRECISION'])
    print(df_tables.to_string(index=False))
else:
    print("‚ö†Ô∏è Êú™ÊâæÂà∞ÂåÖÂê´ QTYPURCHASEREM Â≠óÊÆµÁöÑË°®")

# Ê£ÄÊü• RP_SIMPLESTORAGE Ë°®ÊòØÂê¶Â≠òÂú®
print(f"\n„ÄêÊ≠•È™§1.2„ÄëÊ£ÄÊü• RP_SIMPLESTORAGE Ë°®ÊòØÂê¶Â≠òÂú®...")
sql_check_table = f"""
SELECT OWNER, TABLE_NAME
FROM ALL_TABLES
WHERE UPPER(OWNER) = '{TARGET_SCHEMA}'
  AND UPPER(TABLE_NAME) LIKE '%RP%STORAGE%'
ORDER BY TABLE_NAME
"""

cursor.execute(sql_check_table)
storage_tables = cursor.fetchall()

if storage_tables:
    print(f"\n‚úì ÊâæÂà∞‰ª•‰∏ãÂ∫ìÂ≠òÁõ∏ÂÖ≥Ë°®Ôºö")
    for row in storage_tables:
        print(f"  - {row[0]}.{row[1]}")
else:
    print("‚ö†Ô∏è Êú™ÊâæÂà∞ RP_SIMPLESTORAGE Áõ∏ÂÖ≥Ë°®ÔºåÂ∞ùËØïÊü•ÊâæËßÜÂõæ...")
    # Êü•ÊâæËßÜÂõæ
    sql_check_view = f"""
    SELECT OWNER, VIEW_NAME
    FROM ALL_VIEWS
    WHERE UPPER(OWNER) = '{TARGET_SCHEMA}'
      AND (UPPER(VIEW_NAME) LIKE '%RP%STORAGE%' OR UPPER(VIEW_NAME) LIKE '%V_FA%STORAGE%')
    ORDER BY VIEW_NAME
    """
    cursor.execute(sql_check_view)
    storage_views = cursor.fetchall()
    if storage_views:
        print(f"\n‚úì ÊâæÂà∞‰ª•‰∏ãÂ∫ìÂ≠òÁõ∏ÂÖ≥ËßÜÂõæÔºö")
        for row in storage_views:
            print(f"  - {row[0]}.{row[1]}")

„ÄêÊ≠•È™§1„ÄëËøûÊé•OracleÊï∞ÊçÆÂ∫ì...
‚úì ËøûÊé•ÊàêÂäü

ÁõÆÊ†áÊû∂ÊûÑ: BOSNDS3

„ÄêÊ≠•È™§1.1„ÄëÊü•ÊâæÂåÖÂê´ QTYPURCHASEREM Â≠óÊÆµÁöÑË°®...

‚úì ÊâæÂà∞ 5 ‰∏™Ë°®ÂåÖÂê´ QTYPURCHASEREM Â≠óÊÆµÔºö
  OWNER       TABLE_NAME    COLUMN_NAME DATA_TYPE  LENGTH  PRECISION
BOSNDS3       FA_STORAGE QTYPURCHASEREM    NUMBER      22         10
BOSNDS3 FA_V_STORAGE_CAN QTYPURCHASEREM    NUMBER      22         10
BOSNDS3 RP_SIMPLESTORAGE QTYPURCHASEREM    NUMBER      22         18
BOSNDS3    RP_STORAGE004 QTYPURCHASEREM    NUMBER      22         18
BOSNDS3     V_FA_STORAGE QTYPURCHASEREM    NUMBER      22         10

„ÄêÊ≠•È™§1.2„ÄëÊ£ÄÊü• RP_SIMPLESTORAGE Ë°®ÊòØÂê¶Â≠òÂú®...

‚úì ÊâæÂà∞‰ª•‰∏ãÂ∫ìÂ≠òÁõ∏ÂÖ≥Ë°®Ôºö
  - BOSNDS3.ERP_STORAGE_OCC
  - BOSNDS3.RP_HISSTORAGE01
  - BOSNDS3.RP_HISSTORAGE01BAK
  - BOSNDS3.RP_HISSTORAGE01_PDT
  - BOSNDS3.RP_HISSTORAGE01_PDTBAK
  - BOSNDS3.RP_HISSTORAGE01_STORE
  - BOSNDS3.RP_HISSTORAGE02
  - BOSNDS3.RP_HISSTORAGE02BAK
  - BOSNDS3.RP_HISSTORAGE_TMP
  - BOSNDS3.RP_HISTRANSTORAGEBAK
  - BOSNDS3.RP_NC_HISSTORAGE01
  - BOSNDS3.RP_NC_HISSTORAGE01BAK
  - BOSNDS3.RP_SIMPLESTORAGE
  - BOSNDS3.RP_STORAGE002
  - BOSNDS3.RP_STORAGE003
  - BOSNDS3.RP_STORAGE004
  - BOSNDS3.RP_STORAGERETAILMKL
  - BOSNDS3.RP_STORAGE_ARRAY
  - BOSNDS3.RP_VFA_VSTORAGE2PROCBAK
  - BOSNDS3.Y_RP_STORAGE002

In [3]:
# 2. Á°ÆÂÆöÁõÆÊ†áË°®/ËßÜÂõæ
print("\n„ÄêÊ≠•È™§2„ÄëÁ°ÆÂÆöÂåÖÂê´ÈááË¥≠Ê¨†Êï∞ÁöÑÁõÆÊ†áË°®/ËßÜÂõæ...")
print("="*80)

# Ê†πÊçÆ‰ºØ‰øäÁ≥ªÁªüÊà™ÂõæÔºåÂèØËÉΩÁöÑË°®ÊúâÔºö
# - RP_SIMPLESTORAGE (Â∫ìÂ≠òÊä•Ë°®)
# - V_FA_V_STORAGE1 (Â∫ìÂ≠òÊü•ËØ¢ËßÜÂõæ)
# - V_FA_V_STORAGE2 (Âõ∫ÂÆöËµÑ‰∫ßÂ∫ìÂ≠òÊü•ËØ¢)
# - RP_STORAGE004 (Â∫ìÂ≠òÊàêÊú¨Êä•Ë°®)

candidate_tables = [
    'RP_SIMPLESTORAGE',
    'V_FA_V_STORAGE1', 
    'V_FA_V_STORAGE2',
    'RP_STORAGE004',
    'FA_STORAGE'  # ÂØπÊØîÁî®
]

print("Ê£ÄÊü•ÂÄôÈÄâË°®/ËßÜÂõæÁöÑÊï∞ÊçÆÈáèÂíåQTYPURCHASEREMÂ≠óÊÆµÊÉÖÂÜµÔºö\n")

table_info = []
for table_name in candidate_tables:
    try:
        # Ê£ÄÊü•Ë°®ÊòØÂê¶Â≠òÂú®
        sql_check = f"""
        SELECT COUNT(*) FROM ALL_TABLES 
        WHERE OWNER = '{TARGET_SCHEMA}' AND TABLE_NAME = '{table_name}'
        UNION ALL
        SELECT COUNT(*) FROM ALL_VIEWS 
        WHERE OWNER = '{TARGET_SCHEMA}' AND VIEW_NAME = '{table_name}'
        """
        cursor.execute(sql_check)
        exists = sum([r[0] for r in cursor.fetchall()]) > 0
        
        if exists:
            # Ëé∑ÂèñËÆ∞ÂΩïÊï∞
            sql_count = f"SELECT COUNT(*) FROM {TARGET_SCHEMA}.{table_name}"
            cursor.execute(sql_count)
            count = cursor.fetchone()[0]
            
            # Ê£ÄÊü•ÊòØÂê¶ÊúâQTYPURCHASEREMÂ≠óÊÆµ
            sql_has_field = f"""
            SELECT COUNT(*) FROM ALL_TAB_COLUMNS 
            WHERE OWNER = '{TARGET_SCHEMA}' 
              AND TABLE_NAME = '{table_name}' 
              AND COLUMN_NAME = 'QTYPURCHASEREM'
            """
            cursor.execute(sql_has_field)
            has_field = cursor.fetchone()[0] > 0
            
            # Â¶ÇÊûúÊúâËØ•Â≠óÊÆµÔºåÁªüËÆ°ÈùûÁ©∫ËÆ∞ÂΩïÊï∞
            if has_field:
                sql_notnull = f"""
                SELECT 
                    COUNT(QTYPURCHASEREM) AS ÈùûÁ©∫ËÆ∞ÂΩïÊï∞,
                    SUM(CASE WHEN QTYPURCHASEREM > 0 THEN 1 ELSE 0 END) AS ÊúâÊ¨†Êï∞ËÆ∞ÂΩï,
                    SUM(QTYPURCHASEREM) AS ÈááË¥≠Ê¨†Êï∞ÂêàËÆ°
                FROM {TARGET_SCHEMA}.{table_name}
                """
                cursor.execute(sql_notnull)
                field_info = cursor.fetchone()
                table_info.append({
                    'Ë°®Âêç': table_name,
                    'ËÆ∞ÂΩïÊï∞': count,
                    'ÊúâQTYPURCHASEREM': '‚úì',
                    'ÈùûÁ©∫ËÆ∞ÂΩïÊï∞': field_info[0],
                    'ÊúâÊ¨†Êï∞ËÆ∞ÂΩï': field_info[1],
                    'ÈááË¥≠Ê¨†Êï∞ÂêàËÆ°': field_info[2]
                })
            else:
                table_info.append({
                    'Ë°®Âêç': table_name,
                    'ËÆ∞ÂΩïÊï∞': count,
                    'ÊúâQTYPURCHASEREM': '‚úó',
                    'ÈùûÁ©∫ËÆ∞ÂΩïÊï∞': '-',
                    'ÊúâÊ¨†Êï∞ËÆ∞ÂΩï': '-',
                    'ÈááË¥≠Ê¨†Êï∞ÂêàËÆ°': '-'
                })
        else:
            table_info.append({
                'Ë°®Âêç': table_name,
                'ËÆ∞ÂΩïÊï∞': '‰∏çÂ≠òÂú®',
                'ÊúâQTYPURCHASEREM': '-',
                'ÈùûÁ©∫ËÆ∞ÂΩïÊï∞': '-',
                'ÊúâÊ¨†Êï∞ËÆ∞ÂΩï': '-',
                'ÈááË¥≠Ê¨†Êï∞ÂêàËÆ°': '-'
            })
    except Exception as e:
        table_info.append({
            'Ë°®Âêç': table_name,
            'ËÆ∞ÂΩïÊï∞': f'ÈîôËØØ: {str(e)[:30]}',
            'ÊúâQTYPURCHASEREM': '-',
            'ÈùûÁ©∫ËÆ∞ÂΩïÊï∞': '-',
            'ÊúâÊ¨†Êï∞ËÆ∞ÂΩï': '-',
            'ÈááË¥≠Ê¨†Êï∞ÂêàËÆ°': '-'
        })

df_table_info = pd.DataFrame(table_info)
print(df_table_info.to_string(index=False))

# ÈÄâÊã©ÊúÄ‰Ω≥ÁõÆÊ†áË°®
print("\nüìù ËØ¥ÊòéÔºö")
print("  - RP_SIMPLESTORAGE: Â∫ìÂ≠òÊä•Ë°®ÔºàÊé®ËçêÔºåÂåÖÂê´ÈááË¥≠Ê¨†Êï∞Ôºâ")
print("  - V_FA_V_STORAGE1: Â∫ìÂ≠òÊü•ËØ¢ËßÜÂõæ")
print("  - FA_STORAGE: ÂÆûÊó∂Â∫ìÂ≠òË°®ÔºàÂØπÊØîÁî®Ôºå‰∏çÂê´ÈááË¥≠Ê¨†Êï∞Ôºâ")

„ÄêÊ≠•È™§2„ÄëÁ°ÆÂÆöÂåÖÂê´ÈááË¥≠Ê¨†Êï∞ÁöÑÁõÆÊ†áË°®/ËßÜÂõæ...
================================================================================
Ê£ÄÊü•ÂÄôÈÄâË°®/ËßÜÂõæÁöÑÊï∞ÊçÆÈáèÂíåQTYPURCHASEREMÂ≠óÊÆµÊÉÖÂÜµÔºö

              Ë°®Âêç    ËÆ∞ÂΩïÊï∞ ÊúâQTYPURCHASEREM  ÈùûÁ©∫ËÆ∞ÂΩïÊï∞ ÊúâÊ¨†Êï∞ËÆ∞ÂΩï ÈááË¥≠Ê¨†Êï∞ÂêàËÆ°
RP_SIMPLESTORAGE      0               ‚úì      0  None   None
 V_FA_V_STORAGE1    ‰∏çÂ≠òÂú®               -      -     -      -
 V_FA_V_STORAGE2    ‰∏çÂ≠òÂú®               -      -     -      -
   RP_STORAGE004      0               ‚úì      0  None   None
      FA_STORAGE 189098               ‚úì 189098   359 502692

üìù ËØ¥ÊòéÔºö
  - RP_SIMPLESTORAGE: Â∫ìÂ≠òÊä•Ë°®ÔºàÊé®ËçêÔºåÂåÖÂê´ÈááË¥≠Ê¨†Êï∞Ôºâ
  - V_FA_V_STORAGE1: Â∫ìÂ≠òÊü•ËØ¢ËßÜÂõæ
  - FA_STORAGE: ÂÆûÊó∂Â∫ìÂ≠òË°®ÔºàÂØπÊØîÁî®Ôºå‰∏çÂê´ÈááË¥≠Ê¨†Êï∞Ôºâ

In [4]:
# 3. Á°ÆÂÆö‰ΩøÁî®ÁöÑÁõÆÊ†áË°®
print("\n„ÄêÊ≠•È™§3„ÄëÁ°ÆÂÆö‰ΩøÁî®ÁöÑÁõÆÊ†áË°®...")
print("="*80)

# ‰ºòÂÖà‰ΩøÁî® RP_SIMPLESTORAGEÔºåÂ¶ÇÊûú‰∏çÂ≠òÂú®ÂàôÁî® V_FA_V_STORAGE1
TARGET_TABLE = None

for table_name in ['RP_SIMPLESTORAGE', 'V_FA_V_STORAGE1', 'V_FA_V_STORAGE2', 'RP_STORAGE004']:
    try:
        sql_test = f"SELECT 1 FROM {TARGET_SCHEMA}.{table_name} WHERE ROWNUM = 1"
        cursor.execute(sql_test)
        cursor.fetchone()
        
        # Ê£ÄÊü•ÊòØÂê¶ÊúâQTYPURCHASEREMÂ≠óÊÆµ
        sql_has_field = f"""
        SELECT COUNT(*) FROM ALL_TAB_COLUMNS 
        WHERE OWNER = '{TARGET_SCHEMA}' 
          AND TABLE_NAME = '{table_name}' 
          AND COLUMN_NAME = 'QTYPURCHASEREM'
        """
        cursor.execute(sql_has_field)
        if cursor.fetchone()[0] > 0:
            TARGET_TABLE = table_name
            print(f"‚úì ÈÄâÂÆöÁõÆÊ†áË°®: {TARGET_SCHEMA}.{TARGET_TABLE}")
            break
    except:
        continue

if not TARGET_TABLE:
    print("‚ö†Ô∏è Êú™ÊâæÂà∞ÂêàÈÄÇÁöÑÁõÆÊ†áË°®ÔºåËØ∑Ê£ÄÊü•Êï∞ÊçÆÂ∫ìÈÖçÁΩÆ")
    TARGET_TABLE = 'RP_SIMPLESTORAGE'  # ËÆæÁΩÆÈªòËÆ§ÂÄº

# ÊûÑÂª∫ÂÆåÊï¥Ë°®Âêç
FULL_TABLE_NAME = f"{TARGET_SCHEMA}.{TARGET_TABLE}"

„ÄêÊ≠•È™§3„ÄëÁ°ÆÂÆö‰ΩøÁî®ÁöÑÁõÆÊ†áË°®...
================================================================================
‚úì ÈÄâÂÆöÁõÆÊ†áË°®: BOSNDS3.RP_SIMPLESTORAGE

In [5]:
# 4. Êü•ÁúãÁõÆÊ†áË°®ÁªìÊûÑ
print(f"\n„ÄêÊ≠•È™§4„ÄëÊü•Áúã {TARGET_TABLE} Ë°®ÁªìÊûÑ...")
print("="*80)

sql_structure = f"""
SELECT 
    COLUMN_NAME,
    DATA_TYPE,
    DATA_LENGTH,
    DATA_PRECISION,
    DATA_SCALE,
    NULLABLE,
    DATA_DEFAULT
FROM ALL_TAB_COLUMNS
WHERE OWNER = '{TARGET_SCHEMA}'
  AND TABLE_NAME = '{TARGET_TABLE}'
ORDER BY COLUMN_ID
"""

try:
    cursor.execute(sql_structure)
    columns_info = cursor.fetchall()
    df_structure = pd.DataFrame(columns_info, columns=[
        'Â≠óÊÆµÂêç', 'Êï∞ÊçÆÁ±ªÂûã', 'ÈïøÂ∫¶', 'Á≤æÂ∫¶', 'Â∞èÊï∞‰Ωç', 'ÂèØÁ©∫', 'ÈªòËÆ§ÂÄº'
    ])
    
    if len(df_structure) > 0:
        print(f"\n{TARGET_TABLE} Ë°®Â≠óÊÆµÁªìÊûÑÔºàÂÖ±{len(df_structure)}‰∏™Â≠óÊÆµÔºâÔºö")
        print(df_structure.to_string(index=False))
        
        # Ê†áËÆ∞ÂÖ≥ÈîÆÂ≠óÊÆµ
        print("\nüìù ÂÖ≥ÈîÆÂ≠óÊÆµËØÜÂà´Ôºö")
        key_fields = ['QTYPURCHASEREM', 'M_PRODUCT_ID', 'C_STORE_ID', 'QTY', 'ISACTIVE']
        for field in key_fields:
            if field in df_structure['Â≠óÊÆµÂêç'].values:
                print(f"  ‚úì {field} Â≠òÂú®")
            else:
                print(f"  ‚úó {field} ‰∏çÂ≠òÂú®")
    else:
        print(f"\n‚ö†Ô∏è Êú™ÊâæÂà∞Ë°® {TARGET_TABLE} ÁöÑÂ≠óÊÆµ‰ø°ÊÅØ")
except Exception as e:
    print(f"\n‚ùå Êü•ËØ¢Ë°®ÁªìÊûÑÂ§±Ë¥•: {e}")
    df_structure = pd.DataFrame()

„ÄêÊ≠•È™§4„ÄëÊü•Áúã RP_SIMPLESTORAGE Ë°®ÁªìÊûÑ...
================================================================================

RP_SIMPLESTORAGE Ë°®Â≠óÊÆµÁªìÊûÑÔºàÂÖ±34‰∏™Â≠óÊÆµÔºâÔºö
                      Â≠óÊÆµÂêç     Êï∞ÊçÆÁ±ªÂûã  ÈïøÂ∫¶   Á≤æÂ∫¶  Â∞èÊï∞‰Ωç ÂèØÁ©∫  ÈªòËÆ§ÂÄº
                       ID   NUMBER  22 10.0  0.0  N None
             AD_CLIENT_ID   NUMBER  22 10.0  0.0  Y None
                AD_ORG_ID   NUMBER  22 10.0  0.0  Y None
                  OWNERID   NUMBER  22 10.0  0.0  Y None
               MODIFIERID   NUMBER  22 10.0  0.0  Y None
             CREATIONDATE     DATE   7  NaN  NaN  Y None
             MODIFIEDDATE     DATE   7  NaN  NaN  Y None
                 ISACTIVE     CHAR   1  NaN  NaN  N None
               C_STORE_ID   NUMBER  22 10.0  0.0  N None
             M_PRODUCT_ID   NUMBER  22 10.0  0.0  N None
M_ATTRIBUTESETINSTANCE_ID   NUMBER  22 10.0  0.0  Y None
                      QTY   NUMBER  22 18.0  0.0  Y None
                QTYPREOUT   NUMBER  22 18.0  0.0  Y None
                 QTYPREIN   NUMBER  22 18.0  0.0  Y None
                 QTYVALID   NUMBER  22  NaN  NaN  Y None
                   QTYCAN   NUMBER  22  NaN  NaN  Y None
                PRICELIST   NUMBER  22 14.0  4.0  Y None
             AMT_PRICEQTY   NUMBER  22  NaN  NaN  Y None
       AMT_PRICEQTYPREOUT   NUMBER  22  NaN  NaN  Y None
        AMT_PRICEQTYPREIN   NUMBER  22  NaN  NaN  Y None
        AMT_PRICEQTYVALID   NUMBER  22  NaN  NaN  Y None
        M_PRODUCTALIAS_ID   NUMBER  22 10.0  0.0  Y None
                 AD_PI_ID   NUMBER  22 10.0  0.0  Y None
               TOT_QTYREM   NUMBER  22 18.0  0.0  Y    0
                   AMTCAN   NUMBER  22 24.0  4.0  Y None
                  QTY_BAS   NUMBER  22 18.0  0.0  Y    0
           QTY_BAS_PREOUT   NUMBER  22 18.0  0.0  Y    0
                 IMAGEURL VARCHAR2 360  NaN  NaN  Y None
               QTY_FREEZE   NUMBER  22 18.0  0.0  Y None
               AMT_FREEZE   NUMBER  22 18.0  2.0  Y    0
           QTYPURCHASEREM   NUMBER  22 18.0  0.0  Y None
          QTYOMSTRANSLATE   NUMBER  22 10.0  0.0  Y None
             QTY_OMSORDER   NUMBER  22 10.0  0.0  Y None
              QTYORDERCAN   NUMBER  22 10.0  0.0  Y None

üìù ÂÖ≥ÈîÆÂ≠óÊÆµËØÜÂà´Ôºö
  ‚úì QTYPURCHASEREM Â≠òÂú®
  ‚úì M_PRODUCT_ID Â≠òÂú®
  ‚úì C_STORE_ID Â≠òÂú®
  ‚úì QTY Â≠òÂú®
  ‚úì ISACTIVE Â≠òÂú®

In [6]:
# 5. Êï∞ÊçÆÊ¶ÇËßàÁªüËÆ°
print(f"\n„ÄêÊ≠•È™§5„Äë{TARGET_TABLE} Êï∞ÊçÆÊ¶ÇËßà...")
print("="*80)

sql_overview = f"""
SELECT 
    COUNT(*) AS ÊÄªËÆ∞ÂΩïÊï∞,
    COUNT(DISTINCT M_PRODUCT_ID) AS ÂïÜÂìÅÊï∞,
    COUNT(DISTINCT C_STORE_ID) AS Â∫ó‰ªìÊï∞,
    COUNT(CASE WHEN ISACTIVE = 'Y' THEN 1 END) AS ÊúâÊïàËÆ∞ÂΩïÊï∞,
    SUM(QTY) AS ÊÄªÂ∫ìÂ≠òÊï∞Èáè,
    SUM(QTYPURCHASEREM) AS ÊÄªÈááË¥≠Ê¨†Êï∞
FROM {FULL_TABLE_NAME}
"""

try:
    cursor.execute(sql_overview)
    overview = cursor.fetchone()
    if overview:
        print(f"\nÊï∞ÊçÆÊ¶ÇËßàÔºö")
        print(f"  ÊÄªËÆ∞ÂΩïÊï∞: {overview[0]:,}")
        print(f"  ÂïÜÂìÅÊï∞(M_PRODUCT_ID): {overview[1]:,}")
        print(f"  Â∫ó‰ªìÊï∞(C_STORE_ID): {overview[2]:,}")
        print(f"  ÊúâÊïàËÆ∞ÂΩïÊï∞(ISACTIVE='Y'): {overview[3]:,}")
        print(f"  ÊÄªÂ∫ìÂ≠òÊï∞Èáè(QTY): {overview[4]:,}" if overview[4] else "  ÊÄªÂ∫ìÂ≠òÊï∞Èáè: N/A")
        print(f"  ‚≠êÊÄªÈááË¥≠Ê¨†Êï∞(QTYPURCHASEREM): {overview[5]:,}" if overview[5] else "  ÊÄªÈááË¥≠Ê¨†Êï∞: 0")
except Exception as e:
    print(f"\n‚ùå Êü•ËØ¢Â§±Ë¥•: {e}")

„ÄêÊ≠•È™§5„ÄëRP_SIMPLESTORAGE Êï∞ÊçÆÊ¶ÇËßà...
================================================================================

Êï∞ÊçÆÊ¶ÇËßàÔºö
  ÊÄªËÆ∞ÂΩïÊï∞: 0
  ÂïÜÂìÅÊï∞(M_PRODUCT_ID): 0
  Â∫ó‰ªìÊï∞(C_STORE_ID): 0
  ÊúâÊïàËÆ∞ÂΩïÊï∞(ISACTIVE='Y'): 0
  ÊÄªÂ∫ìÂ≠òÊï∞Èáè: N/A
  ÊÄªÈááË¥≠Ê¨†Êï∞: 0

In [7]:
# 6. QTYPURCHASEREMÔºàÈááË¥≠Ê¨†Êï∞ÔºâÂ≠óÊÆµÊ∑±Â∫¶ÂàÜÊûê ‚≠êÊ†∏ÂøÉ
print(f"\n„ÄêÊ≠•È™§6„ÄëQTYPURCHASEREMÔºàÈááË¥≠Ê¨†Êï∞ÔºâÂ≠óÊÆµÊ∑±Â∫¶ÂàÜÊûê ‚≠ê")
print("="*80)

# 6.1 Â°´ÂÖÖÁéáÂàÜÊûê
print("\n6.1 Â°´ÂÖÖÁéáÂàÜÊûêÔºö")
sql_fill_rate = f"""
SELECT 
    COUNT(*) AS ÊÄªËÆ∞ÂΩïÊï∞,
    COUNT(QTYPURCHASEREM) AS ÊúâÂÄºËÆ∞ÂΩïÊï∞,
    ROUND(COUNT(QTYPURCHASEREM) * 100.0 / COUNT(*), 2) AS Â°´ÂÖÖÁéá,
    SUM(CASE WHEN QTYPURCHASEREM > 0 THEN 1 ELSE 0 END) AS ÊúâÊ¨†Êï∞ËÆ∞ÂΩï,
    SUM(CASE WHEN QTYPURCHASEREM = 0 OR QTYPURCHASEREM IS NULL THEN 1 ELSE 0 END) AS Êó†Ê¨†Êï∞ËÆ∞ÂΩï,
    SUM(CASE WHEN QTYPURCHASEREM < 0 THEN 1 ELSE 0 END) AS Ë¥üÊï∞ËÆ∞ÂΩï
FROM {FULL_TABLE_NAME}
WHERE ISACTIVE = 'Y'
"""

try:
    cursor.execute(sql_fill_rate)
    fill_info = cursor.fetchone()
    if fill_info:
        total = fill_info[0]
        print(f"  ÊÄªËÆ∞ÂΩïÊï∞: {total:,}")
        print(f"  ÊúâÂÄºËÆ∞ÂΩïÊï∞: {fill_info[1]:,}")
        print(f"  Â°´ÂÖÖÁéá: {fill_info[2]}%")
        print(f"  ‚≠êÊúâÈááË¥≠Ê¨†Êï∞ÁöÑËÆ∞ÂΩï: {fill_info[3]:,} ({fill_info[3]*100.0/total:.2f}%)")
        print(f"  Êó†ÈááË¥≠Ê¨†Êï∞ÁöÑËÆ∞ÂΩï: {fill_info[4]:,}")
        print(f"  Ë¥üÊï∞ËÆ∞ÂΩïÔºàÂºÇÂ∏∏Ôºâ: {fill_info[5]:,}")
except Exception as e:
    print(f"  Êü•ËØ¢Â§±Ë¥•: {e}")

# 6.2 Êï∞ÂÄºÂàÜÂ∏ÉÂàÜÊûê
print("\n6.2 ÈááË¥≠Ê¨†Êï∞Êï∞ÂÄºÂàÜÂ∏ÉÔºö")
sql_distribution = f"""
SELECT 
    MIN(QTYPURCHASEREM) AS ÊúÄÂ∞èÂÄº,
    MAX(QTYPURCHASEREM) AS ÊúÄÂ§ßÂÄº,
    ROUND(AVG(QTYPURCHASEREM), 2) AS Âπ≥ÂùáÂÄº,
    ROUND(MEDIAN(QTYPURCHASEREM), 2) AS ‰∏≠‰ΩçÊï∞,
    SUM(QTYPURCHASEREM) AS ÂêàËÆ°
FROM {FULL_TABLE_NAME}
WHERE ISACTIVE = 'Y'
  AND QTYPURCHASEREM > 0
"""

try:
    cursor.execute(sql_distribution)
    dist_info = cursor.fetchone()
    if dist_info:
        print(f"  ÊúÄÂ∞èÂÄº: {dist_info[0]}")
        print(f"  ÊúÄÂ§ßÂÄº: {dist_info[1]}")
        print(f"  Âπ≥ÂùáÂÄº: {dist_info[2]}")
        print(f"  ‰∏≠‰ΩçÊï∞: {dist_info[3]}")
        print(f"  ‚≠êÂêàËÆ°: {dist_info[4]:,}")
except Exception as e:
    print(f"  Êü•ËØ¢Â§±Ë¥•: {e}")

# 6.3 ÈááË¥≠Ê¨†Êï∞ÂàÜÊÆµÁªüËÆ°
print("\n6.3 ÈááË¥≠Ê¨†Êï∞ÂàÜÊÆµÁªüËÆ°Ôºö")
sql_segment = f"""
SELECT 
    CASE 
        WHEN QTYPURCHASEREM IS NULL OR QTYPURCHASEREM = 0 THEN 'Êó†Ê¨†Êï∞'
        WHEN QTYPURCHASEREM BETWEEN 1 AND 10 THEN '1-10‰ª∂'
        WHEN QTYPURCHASEREM BETWEEN 11 AND 50 THEN '11-50‰ª∂'
        WHEN QTYPURCHASEREM BETWEEN 51 AND 100 THEN '51-100‰ª∂'
        WHEN QTYPURCHASEREM BETWEEN 101 AND 500 THEN '101-500‰ª∂'
        WHEN QTYPURCHASEREM BETWEEN 501 AND 1000 THEN '501-1000‰ª∂'
        WHEN QTYPURCHASEREM > 1000 THEN '>1000‰ª∂'
        ELSE 'Ë¥üÊï∞(ÂºÇÂ∏∏)'
    END AS Ê¨†Êï∞Âå∫Èó¥,
    COUNT(*) AS ËÆ∞ÂΩïÊï∞,
    SUM(QTYPURCHASEREM) AS Ê¨†Êï∞ÂêàËÆ°,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (), 2) AS Âç†ÊØî
FROM {FULL_TABLE_NAME}
WHERE ISACTIVE = 'Y'
GROUP BY 
    CASE 
        WHEN QTYPURCHASEREM IS NULL OR QTYPURCHASEREM = 0 THEN 'Êó†Ê¨†Êï∞'
        WHEN QTYPURCHASEREM BETWEEN 1 AND 10 THEN '1-10‰ª∂'
        WHEN QTYPURCHASEREM BETWEEN 11 AND 50 THEN '11-50‰ª∂'
        WHEN QTYPURCHASEREM BETWEEN 51 AND 100 THEN '51-100‰ª∂'
        WHEN QTYPURCHASEREM BETWEEN 101 AND 500 THEN '101-500‰ª∂'
        WHEN QTYPURCHASEREM BETWEEN 501 AND 1000 THEN '501-1000‰ª∂'
        WHEN QTYPURCHASEREM > 1000 THEN '>1000‰ª∂'
        ELSE 'Ë¥üÊï∞(ÂºÇÂ∏∏)'
    END
ORDER BY 
    CASE 
        WHEN QTYPURCHASEREM IS NULL OR QTYPURCHASEREM = 0 THEN 0
        WHEN QTYPURCHASEREM BETWEEN 1 AND 10 THEN 1
        WHEN QTYPURCHASEREM BETWEEN 11 AND 50 THEN 2
        WHEN QTYPURCHASEREM BETWEEN 51 AND 100 THEN 3
        WHEN QTYPURCHASEREM BETWEEN 101 AND 500 THEN 4
        WHEN QTYPURCHASEREM BETWEEN 501 AND 1000 THEN 5
        WHEN QTYPURCHASEREM > 1000 THEN 6
        ELSE 7
    END
"""

try:
    cursor.execute(sql_segment)
    segment_data = cursor.fetchall()
    df_segment = pd.DataFrame(segment_data, columns=['Ê¨†Êï∞Âå∫Èó¥', 'ËÆ∞ÂΩïÊï∞', 'Ê¨†Êï∞ÂêàËÆ°', 'Âç†ÊØî(%)'])
    print(df_segment.to_string(index=False))
except Exception as e:
    print(f"  Êü•ËØ¢Â§±Ë¥•: {e}")

„ÄêÊ≠•È™§6„ÄëQTYPURCHASEREMÔºàÈááË¥≠Ê¨†Êï∞ÔºâÂ≠óÊÆµÊ∑±Â∫¶ÂàÜÊûê ‚≠ê
================================================================================

6.1 Â°´ÂÖÖÁéáÂàÜÊûêÔºö
  Êü•ËØ¢Â§±Ë¥•: ORA-01476: divisor is equal to zero
Help: https://docs.oracle.com/error-help/db/ora-01476/

6.2 ÈááË¥≠Ê¨†Êï∞Êï∞ÂÄºÂàÜÂ∏ÉÔºö
  ÊúÄÂ∞èÂÄº: None
  ÊúÄÂ§ßÂÄº: None
  Âπ≥ÂùáÂÄº: None
  ‰∏≠‰ΩçÊï∞: None
  Êü•ËØ¢Â§±Ë¥•: unsupported format string passed to NoneType.__format__

6.3 ÈááË¥≠Ê¨†Êï∞ÂàÜÊÆµÁªüËÆ°Ôºö
  Êü•ËØ¢Â§±Ë¥•: ORA-00979: not a GROUP BY expression
Help: https://docs.oracle.com/error-help/db/ora-00979/

In [8]:
# 7. ÊåâÂ∫ó‰ªìÂàÜÊûêÈááË¥≠Ê¨†Êï∞
print(f"\n„ÄêÊ≠•È™§7„ÄëÊåâÂ∫ó‰ªìÂàÜÊûêÈááË¥≠Ê¨†Êï∞...")
print("="*80)

sql_by_store = f"""
SELECT *
FROM (
    SELECT 
        s.CODE AS Â∫ó‰ªìÁºñÁ†Å,
        s.NAME AS Â∫ó‰ªìÂêçÁß∞,
        CASE 
            WHEN s.CODE = '001' THEN 'ÊÄª‰ªì'
            WHEN s.CODE LIKE 'DS%' THEN 'ÁîµÂïÜ'
            WHEN s.CODE LIKE 'RT%' THEN 'Èó®Â∫ó'
            ELSE 'ÂÖ∂‰ªñ'
        END AS Â∫ó‰ªìÁ±ªÂûã,
        COUNT(rp.M_PRODUCT_ID) AS SKUÊï∞,
        SUM(rp.QTY) AS Â∫ìÂ≠òÊï∞Èáè,
        SUM(rp.QTYPURCHASEREM) AS ÈááË¥≠Ê¨†Êï∞,
        COUNT(CASE WHEN rp.QTYPURCHASEREM > 0 THEN 1 END) AS ÊúâÊ¨†Êï∞SKUÊï∞
    FROM {FULL_TABLE_NAME} rp
    LEFT JOIN {TARGET_SCHEMA}.C_STORE s ON rp.C_STORE_ID = s.ID
    WHERE rp.ISACTIVE = 'Y'
    GROUP BY s.CODE, s.NAME
    ORDER BY SUM(rp.QTYPURCHASEREM) DESC NULLS LAST
)
WHERE ROWNUM <= 15
"""

try:
    cursor.execute(sql_by_store)
    store_data = cursor.fetchall()
    df_store = pd.DataFrame(store_data, columns=[
        'Â∫ó‰ªìÁºñÁ†Å', 'Â∫ó‰ªìÂêçÁß∞', 'Â∫ó‰ªìÁ±ªÂûã', 'SKUÊï∞', 'Â∫ìÂ≠òÊï∞Èáè', 'ÈááË¥≠Ê¨†Êï∞', 'ÊúâÊ¨†Êï∞SKUÊï∞'
    ])
    print("\nÊåâÂ∫ó‰ªìÁªüËÆ°ÈááË¥≠Ê¨†Êï∞TOP15Ôºö")
    print(df_store.to_string(index=False))
    
    print("\nüìù ËØ¥ÊòéÔºö")
    print("  - ÈááË¥≠Ê¨†Êï∞‰∏ªË¶ÅÈõÜ‰∏≠Âú®ÊÄª‰ªì(001)ÔºåÂõ†‰∏∫ÈááË¥≠ÂÖ•Â∫ìÈÄöÂ∏∏ÂÖàÂÖ•ÊÄª‰ªì")
    print("  - Èó®Â∫óÁöÑÈááË¥≠Ê¨†Êï∞ÈÄöÂ∏∏‰∏∫0ÊàñÂæàÂ∞ë")
except Exception as e:
    print(f"  Êü•ËØ¢Â§±Ë¥•: {e}")

„ÄêÊ≠•È™§7„ÄëÊåâÂ∫ó‰ªìÂàÜÊûêÈááË¥≠Ê¨†Êï∞...
================================================================================

ÊåâÂ∫ó‰ªìÁªüËÆ°ÈááË¥≠Ê¨†Êï∞TOP15Ôºö
Empty DataFrame
Columns: [Â∫ó‰ªìÁºñÁ†Å, Â∫ó‰ªìÂêçÁß∞, Â∫ó‰ªìÁ±ªÂûã, SKUÊï∞, Â∫ìÂ≠òÊï∞Èáè, ÈááË¥≠Ê¨†Êï∞, ÊúâÊ¨†Êï∞SKUÊï∞]
Index: []

üìù ËØ¥ÊòéÔºö
  - ÈááË¥≠Ê¨†Êï∞‰∏ªË¶ÅÈõÜ‰∏≠Âú®ÊÄª‰ªì(001)ÔºåÂõ†‰∏∫ÈááË¥≠ÂÖ•Â∫ìÈÄöÂ∏∏ÂÖàÂÖ•ÊÄª‰ªì
  - Èó®Â∫óÁöÑÈááË¥≠Ê¨†Êï∞ÈÄöÂ∏∏‰∏∫0ÊàñÂæàÂ∞ë

In [9]:
# 8. ÈááË¥≠Ê¨†Êï∞TOPÂïÜÂìÅ
print(f"\n„ÄêÊ≠•È™§8„ÄëÈááË¥≠Ê¨†Êï∞TOPÂïÜÂìÅ...")
print("="*80)

sql_top_products = f"""
SELECT *
FROM (
    SELECT 
        p.NAME AS ÂïÜÂìÅÁºñÁ†Å,
        p.VALUE AS ÂïÜÂìÅÂêçÁß∞,
        rp.QTYPURCHASEREM AS ÈááË¥≠Ê¨†Êï∞,
        rp.QTY AS ÂΩìÂâçÂ∫ìÂ≠ò,
        s.CODE AS Â∫ó‰ªìÁºñÁ†Å,
        s.NAME AS Â∫ó‰ªìÂêçÁß∞
    FROM {FULL_TABLE_NAME} rp
    LEFT JOIN {TARGET_SCHEMA}.M_PRODUCT p ON rp.M_PRODUCT_ID = p.ID
    LEFT JOIN {TARGET_SCHEMA}.C_STORE s ON rp.C_STORE_ID = s.ID
    WHERE rp.ISACTIVE = 'Y'
      AND rp.QTYPURCHASEREM > 0
    ORDER BY rp.QTYPURCHASEREM DESC
)
WHERE ROWNUM <= 20
"""

try:
    cursor.execute(sql_top_products)
    top_products = cursor.fetchall()
    df_top = pd.DataFrame(top_products, columns=[
        'ÂïÜÂìÅÁºñÁ†Å', 'ÂïÜÂìÅÂêçÁß∞', 'ÈááË¥≠Ê¨†Êï∞', 'ÂΩìÂâçÂ∫ìÂ≠ò', 'Â∫ó‰ªìÁºñÁ†Å', 'Â∫ó‰ªìÂêçÁß∞'
    ])
    print("\nÈááË¥≠Ê¨†Êï∞TOP20ÂïÜÂìÅÔºö")
    pd.set_option('display.max_colwidth', 20)
    print(df_top.to_string(index=False))
except Exception as e:
    print(f"  Êü•ËØ¢Â§±Ë¥•: {e}")

„ÄêÊ≠•È™§8„ÄëÈááË¥≠Ê¨†Êï∞TOPÂïÜÂìÅ...
================================================================================

ÈááË¥≠Ê¨†Êï∞TOP20ÂïÜÂìÅÔºö
Empty DataFrame
Columns: [ÂïÜÂìÅÁºñÁ†Å, ÂïÜÂìÅÂêçÁß∞, ÈááË¥≠Ê¨†Êï∞, ÂΩìÂâçÂ∫ìÂ≠ò, Â∫ó‰ªìÁºñÁ†Å, Â∫ó‰ªìÂêçÁß∞]
Index: []

In [10]:
# 9. ‰∏éFA_STORAGEË°®ÂØπÊØîÂàÜÊûê
print(f"\n„ÄêÊ≠•È™§9„Äë‰∏éFA_STORAGEË°®ÂØπÊØîÂàÜÊûê...")
print("="*80)

# 9.1 ‰∏§Ë°®Êï∞ÊçÆÈáèÂØπÊØî
print("\n9.1 ‰∏§Ë°®Êï∞ÊçÆÈáèÂØπÊØîÔºö")
sql_compare_count = f"""
SELECT 
    'FA_STORAGE' AS Ë°®Âêç,
    COUNT(*) AS ÊÄªËÆ∞ÂΩïÊï∞,
    COUNT(DISTINCT M_PRODUCT_ID) AS ÂïÜÂìÅÊï∞,
    COUNT(DISTINCT C_STORE_ID) AS Â∫ó‰ªìÊï∞,
    SUM(QTY) AS ÊÄªÂ∫ìÂ≠ò
FROM {TARGET_SCHEMA}.FA_STORAGE
WHERE ISACTIVE = 'Y'
UNION ALL
SELECT 
    '{TARGET_TABLE}' AS Ë°®Âêç,
    COUNT(*) AS ÊÄªËÆ∞ÂΩïÊï∞,
    COUNT(DISTINCT M_PRODUCT_ID) AS ÂïÜÂìÅÊï∞,
    COUNT(DISTINCT C_STORE_ID) AS Â∫ó‰ªìÊï∞,
    SUM(QTY) AS ÊÄªÂ∫ìÂ≠ò
FROM {FULL_TABLE_NAME}
WHERE ISACTIVE = 'Y'
"""

try:
    cursor.execute(sql_compare_count)
    compare_data = cursor.fetchall()
    df_compare = pd.DataFrame(compare_data, columns=['Ë°®Âêç', 'ÊÄªËÆ∞ÂΩïÊï∞', 'ÂïÜÂìÅÊï∞', 'Â∫ó‰ªìÊï∞', 'ÊÄªÂ∫ìÂ≠ò'])
    print(df_compare.to_string(index=False))
except Exception as e:
    print(f"  Êü•ËØ¢Â§±Ë¥•: {e}")

# 9.2 Ê£ÄÊü•‰∏§Ë°®ÂïÜÂìÅ+Â∫ó‰ªìÁ≤íÂ∫¶ÊòØÂê¶‰∏ÄËá¥
print("\n9.2 ÂïÜÂìÅ+Â∫ó‰ªìÁ≤íÂ∫¶‰∏ÄËá¥ÊÄßÊ£ÄÊü•Ôºö")
sql_consistency = f"""
SELECT 
    COUNT(*) AS ÊÄªÂØπÊØîÁªÑÂêàÊï∞,
    COUNT(CASE WHEN fa.ID IS NOT NULL AND rp.M_PRODUCT_ID IS NOT NULL THEN 1 END) AS ‰∏§Ë°®ÈÉΩÊúâ,
    COUNT(CASE WHEN fa.ID IS NOT NULL AND rp.M_PRODUCT_ID IS NULL THEN 1 END) AS ‰ªÖFA_STORAGEÊúâ,
    COUNT(CASE WHEN fa.ID IS NULL AND rp.M_PRODUCT_ID IS NOT NULL THEN 1 END) AS ‰ªÖRPË°®Êúâ
FROM (
    SELECT DISTINCT M_PRODUCT_ID, C_STORE_ID FROM {TARGET_SCHEMA}.FA_STORAGE WHERE ISACTIVE = 'Y'
) fa
FULL OUTER JOIN (
    SELECT DISTINCT M_PRODUCT_ID, C_STORE_ID FROM {FULL_TABLE_NAME} WHERE ISACTIVE = 'Y'
) rp ON fa.M_PRODUCT_ID = rp.M_PRODUCT_ID AND fa.C_STORE_ID = rp.C_STORE_ID
"""

try:
    cursor.execute(sql_consistency)
    consistency_info = cursor.fetchone()
    if consistency_info:
        print(f"  ÊÄªÂØπÊØîÁªÑÂêàÊï∞: {consistency_info[0]:,}")
        print(f"  ‰∏§Ë°®ÈÉΩÊúâ: {consistency_info[1]:,}")
        print(f"  ‰ªÖFA_STORAGEÊúâ: {consistency_info[2]:,}")
        print(f"  ‰ªÖ{TARGET_TABLE}Êúâ: {consistency_info[3]:,}")
except Exception as e:
    print(f"  Êü•ËØ¢Â§±Ë¥•: {e}")

print("\nüìù ÂØπÊØîÁªìËÆ∫Ôºö")
print(f"  - FA_STORAGE: ÂÆûÊó∂Â∫ìÂ≠òË°®Ôºå‰∏çÂê´ÈááË¥≠Ê¨†Êï∞")
print(f"  - {TARGET_TABLE}: Â∫ìÂ≠òÊä•Ë°®ÔºåÂåÖÂê´ÈááË¥≠Ê¨†Êï∞(QTYPURCHASEREM)")
print(f"  - Âª∫ËÆÆÔºö‰ªé{TARGET_TABLE}Ëé∑ÂèñÈááË¥≠Ê¨†Êï∞Ôºå‰∏éFA_STORAGEÂÖ≥ËÅî‰ΩøÁî®")

„ÄêÊ≠•È™§9„Äë‰∏éFA_STORAGEË°®ÂØπÊØîÂàÜÊûê...
================================================================================

9.1 ‰∏§Ë°®Êï∞ÊçÆÈáèÂØπÊØîÔºö
              Ë°®Âêç   ÊÄªËÆ∞ÂΩïÊï∞  ÂïÜÂìÅÊï∞  Â∫ó‰ªìÊï∞       ÊÄªÂ∫ìÂ≠ò
      FA_STORAGE 189098 5638  172 3264650.0
RP_SIMPLESTORAGE      0    0    0       NaN

9.2 ÂïÜÂìÅ+Â∫ó‰ªìÁ≤íÂ∫¶‰∏ÄËá¥ÊÄßÊ£ÄÊü•Ôºö
  Êü•ËØ¢Â§±Ë¥•: ORA-00904: "FA"."ID": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/

üìù ÂØπÊØîÁªìËÆ∫Ôºö
  - FA_STORAGE: ÂÆûÊó∂Â∫ìÂ≠òË°®Ôºå‰∏çÂê´ÈááË¥≠Ê¨†Êï∞
  - RP_SIMPLESTORAGE: Â∫ìÂ≠òÊä•Ë°®ÔºåÂåÖÂê´ÈááË¥≠Ê¨†Êï∞(QTYPURCHASEREM)
  - Âª∫ËÆÆÔºö‰ªéRP_SIMPLESTORAGEËé∑ÂèñÈááË¥≠Ê¨†Êï∞Ôºå‰∏éFA_STORAGEÂÖ≥ËÅî‰ΩøÁî®

In [11]:
# 10. Êü•ÁúãÊúâÈááË¥≠Ê¨†Êï∞ÁöÑÊï∞ÊçÆÊ†∑Êú¨
print(f"\n„ÄêÊ≠•È™§10„ÄëÊúâÈááË¥≠Ê¨†Êï∞ÁöÑÊï∞ÊçÆÊ†∑Êú¨...")
print("="*80)

sql_sample = f"""
SELECT *
FROM (
    SELECT 
        rp.M_PRODUCT_ID,
        p.NAME AS ÂïÜÂìÅÁºñÁ†Å,
        p.VALUE AS ÂïÜÂìÅÂêçÁß∞,
        rp.C_STORE_ID,
        s.CODE AS Â∫ó‰ªìÁºñÁ†Å,
        rp.QTY AS Â∫ìÂ≠òÊï∞Èáè,
        rp.QTYPURCHASEREM AS ÈááË¥≠Ê¨†Êï∞,
        rp.ISACTIVE
    FROM {FULL_TABLE_NAME} rp
    LEFT JOIN {TARGET_SCHEMA}.M_PRODUCT p ON rp.M_PRODUCT_ID = p.ID
    LEFT JOIN {TARGET_SCHEMA}.C_STORE s ON rp.C_STORE_ID = s.ID
    WHERE rp.ISACTIVE = 'Y'
      AND rp.QTYPURCHASEREM > 0
    ORDER BY rp.QTYPURCHASEREM DESC
)
WHERE ROWNUM <= 10
"""

try:
    cursor.execute(sql_sample)
    sample_data = cursor.fetchall()
    df_sample = pd.DataFrame(sample_data, columns=[
        'M_PRODUCT_ID', 'ÂïÜÂìÅÁºñÁ†Å', 'ÂïÜÂìÅÂêçÁß∞', 'C_STORE_ID', 'Â∫ó‰ªìÁºñÁ†Å', 'Â∫ìÂ≠òÊï∞Èáè', 'ÈááË¥≠Ê¨†Êï∞', 'ISACTIVE'
    ])
    print("\nÊúâÈááË¥≠Ê¨†Êï∞ÁöÑËÆ∞ÂΩïÊ†∑Êú¨ÔºàTOP10ÔºâÔºö")
    print(df_sample.to_string(index=False))
except Exception as e:
    print(f"  Êü•ËØ¢Â§±Ë¥•: {e}")

„ÄêÊ≠•È™§10„ÄëÊúâÈááË¥≠Ê¨†Êï∞ÁöÑÊï∞ÊçÆÊ†∑Êú¨...
================================================================================

ÊúâÈááË¥≠Ê¨†Êï∞ÁöÑËÆ∞ÂΩïÊ†∑Êú¨ÔºàTOP10ÔºâÔºö
Empty DataFrame
Columns: [M_PRODUCT_ID, ÂïÜÂìÅÁºñÁ†Å, ÂïÜÂìÅÂêçÁß∞, C_STORE_ID, Â∫ó‰ªìÁºñÁ†Å, Â∫ìÂ≠òÊï∞Èáè, ÈááË¥≠Ê¨†Êï∞, ISACTIVE]
Index: []

In [12]:
# 11. ‰∏éÁé∞ÊúâÂ∫ìÂ≠òÂÅ•Â∫∑Â∫¶Â∫ïË°®ÂÖ≥ËÅîÁ§∫‰æã
print(f"\n„ÄêÊ≠•È™§11„Äë‰∏éÂ∫ìÂ≠òÂÅ•Â∫∑Â∫¶Â∫ïË°®ÂÖ≥ËÅîÁ§∫‰æãSQL...")
print("="*80)

print("\nüìù ÂÖ≥ËÅîÊñπÂºèÔºöÈÄöËøá M_PRODUCT_ID + C_STORE_ID ÂÖ≥ËÅî")
print("\nÁ§∫‰æãSQL - Ëé∑ÂèñÊÄª‰ªìÁöÑÈááË¥≠Ê¨†Êï∞Ôºö")
print("-" * 60)
example_sql = f"""
-- ÊñπÊ°à1ÔºöÁõ¥Êé•‰ªé{TARGET_TABLE}Ëé∑ÂèñÊÄª‰ªìÈááË¥≠Ê¨†Êï∞
SELECT 
    rp.M_PRODUCT_ID,
    p.NAME AS ÂïÜÂìÅÁºñÁ†Å,
    p.VALUE AS ÂïÜÂìÅÂêçÁß∞,
    SUM(rp.QTY) AS Â∫ìÂ≠òÊï∞Èáè,
    SUM(rp.QTYPURCHASEREM) AS ÈááË¥≠Ê¨†Êï∞
FROM {FULL_TABLE_NAME} rp
LEFT JOIN {TARGET_SCHEMA}.M_PRODUCT p ON rp.M_PRODUCT_ID = p.ID
LEFT JOIN {TARGET_SCHEMA}.C_STORE s ON rp.C_STORE_ID = s.ID
WHERE rp.ISACTIVE = 'Y'
  AND s.CODE = '001'  -- ÊÄª‰ªì
GROUP BY rp.M_PRODUCT_ID, p.NAME, p.VALUE
HAVING SUM(rp.QTYPURCHASEREM) > 0
ORDER BY SUM(rp.QTYPURCHASEREM) DESC;
"""
print(example_sql)

print("\nÁ§∫‰æãSQL - ‰∏éFA_STORAGEÂÖ≥ËÅîËé∑ÂèñÂÆåÊï¥Â∫ìÂ≠ò+Ê¨†Êï∞Ôºö")
print("-" * 60)
example_sql2 = f"""
-- ÊñπÊ°à2ÔºöFA_STORAGE‰∏∫‰∏ªË°®ÔºåLEFT JOINËé∑ÂèñÈááË¥≠Ê¨†Êï∞
SELECT 
    fa.M_PRODUCT_ID,
    p.NAME AS ÂïÜÂìÅÁºñÁ†Å,
    fa.C_STORE_ID,
    s.CODE AS Â∫ó‰ªìÁºñÁ†Å,
    fa.QTY AS Â∫ìÂ≠òÊï∞Èáè,
    NVL(rp.QTYPURCHASEREM, 0) AS ÈááË¥≠Ê¨†Êï∞,
    fa.QTY + NVL(rp.QTYPURCHASEREM, 0) AS ÂèØÁî®Â∫ìÂ≠òÂê´Âú®ÈÄî
FROM {TARGET_SCHEMA}.FA_STORAGE fa
LEFT JOIN {TARGET_SCHEMA}.M_PRODUCT p ON fa.M_PRODUCT_ID = p.ID
LEFT JOIN {TARGET_SCHEMA}.C_STORE s ON fa.C_STORE_ID = s.ID
LEFT JOIN {FULL_TABLE_NAME} rp 
    ON fa.M_PRODUCT_ID = rp.M_PRODUCT_ID 
    AND fa.C_STORE_ID = rp.C_STORE_ID
    AND rp.ISACTIVE = 'Y'
WHERE fa.ISACTIVE = 'Y'
  AND s.CODE = '001'  -- ÊÄª‰ªì
ORDER BY rp.QTYPURCHASEREM DESC NULLS LAST;
"""
print(example_sql2)

„ÄêÊ≠•È™§11„Äë‰∏éÂ∫ìÂ≠òÂÅ•Â∫∑Â∫¶Â∫ïË°®ÂÖ≥ËÅîÁ§∫‰æãSQL...
================================================================================

üìù ÂÖ≥ËÅîÊñπÂºèÔºöÈÄöËøá M_PRODUCT_ID + C_STORE_ID ÂÖ≥ËÅî

Á§∫‰æãSQL - Ëé∑ÂèñÊÄª‰ªìÁöÑÈááË¥≠Ê¨†Êï∞Ôºö
------------------------------------------------------------

-- ÊñπÊ°à1ÔºöÁõ¥Êé•‰ªéRP_SIMPLESTORAGEËé∑ÂèñÊÄª‰ªìÈááË¥≠Ê¨†Êï∞
SELECT
    rp.M_PRODUCT_ID,
    p.NAME AS ÂïÜÂìÅÁºñÁ†Å,
    p.VALUE AS ÂïÜÂìÅÂêçÁß∞,
    SUM(rp.QTY) AS Â∫ìÂ≠òÊï∞Èáè,
    SUM(rp.QTYPURCHASEREM) AS ÈááË¥≠Ê¨†Êï∞
FROM BOSNDS3.RP_SIMPLESTORAGE rp
LEFT JOIN BOSNDS3.M_PRODUCT p ON rp.M_PRODUCT_ID = p.ID
LEFT JOIN BOSNDS3.C_STORE s ON rp.C_STORE_ID = s.ID
WHERE rp.ISACTIVE = 'Y'
  AND s.CODE = '001'  -- ÊÄª‰ªì
GROUP BY rp.M_PRODUCT_ID, p.NAME, p.VALUE
HAVING SUM(rp.QTYPURCHASEREM) > 0
ORDER BY SUM(rp.QTYPURCHASEREM) DESC;


Á§∫‰æãSQL - ‰∏éFA_STORAGEÂÖ≥ËÅîËé∑ÂèñÂÆåÊï¥Â∫ìÂ≠ò+Ê¨†Êï∞Ôºö
------------------------------------------------------------

-- ÊñπÊ°à2ÔºöFA_STORAGE‰∏∫‰∏ªË°®ÔºåLEFT JOINËé∑ÂèñÈááË¥≠Ê¨†Êï∞
SELECT
    fa.M_PRODUCT_ID,
    p.NAME AS ÂïÜÂìÅÁºñÁ†Å,
    fa.C_STORE_ID,
    s.CODE AS Â∫ó‰ªìÁºñÁ†Å,
    fa.QTY AS Â∫ìÂ≠òÊï∞Èáè,
    NVL(rp.QTYPURCHASEREM, 0) AS ÈááË¥≠Ê¨†Êï∞,
    fa.QTY + NVL(rp.QTYPURCHASEREM, 0) AS ÂèØÁî®Â∫ìÂ≠òÂê´Âú®ÈÄî
FROM BOSNDS3.FA_STORAGE fa
LEFT JOIN BOSNDS3.M_PRODUCT p ON fa.M_PRODUCT_ID = p.ID
LEFT JOIN BOSNDS3.C_STORE s ON fa.C_STORE_ID = s.ID
LEFT JOIN BOSNDS3.RP_SIMPLESTORAGE rp
    ON fa.M_PRODUCT_ID = rp.M_PRODUCT_ID
    AND fa.C_STORE_ID = rp.C_STORE_ID
    AND rp.ISACTIVE = 'Y'
WHERE fa.ISACTIVE = 'Y'
  AND s.CODE = '001'  -- ÊÄª‰ªì
ORDER BY rp.QTYPURCHASEREM DESC NULLS LAST;

In [13]:
# 12. Âª∫ËÆÆË°•Ë¥ßÊï∞ÈáèËÆ°ÁÆóÂÖ¨ÂºèÈ™åËØÅ
print(f"\n„ÄêÊ≠•È™§12„ÄëÂª∫ËÆÆË°•Ë¥ßÊï∞ÈáèËÆ°ÁÆóÂÖ¨ÂºèÈ™åËØÅ...")
print("="*80)

print("\nüìù ‰ºòÂåñÂêéÁöÑÂª∫ËÆÆË°•Ë¥ßÊï∞ÈáèÂÖ¨ÂºèÔºö")
print("-" * 60)
print("""
Âª∫ËÆÆË°•Ë¥ßÊï∞Èáè = (90Â§©ÁõÆÊ†áÂë®ËΩ¨ - ÂΩìÂâçÂë®ËΩ¨Â§©Êï∞) √ó Êó•ÂùáÈîÄÈáè 
             - Ëøë30Â§©ÈÄÄË¥ßÊï∞Èáè
             - ÈááË¥≠Ê¨†Êï∞ÔºàQTYPURCHASEREMÔºâ

ÂÖ∂‰∏≠Ôºö
- 90Â§©ÁõÆÊ†áÂë®ËΩ¨Ôºö‰∏öÂä°ËÆæÂÆöÁöÑÂÆâÂÖ®Â∫ìÂ≠òÂ§©Êï∞
- ÂΩìÂâçÂë®ËΩ¨Â§©Êï∞ = ÂΩìÂâçÂ∫ìÂ≠ò / Ëøë30Â§©Êó•ÂùáÈîÄÈáè
- Ëøë30Â§©ÈÄÄË¥ßÔºöÈ¢ÑËÆ°‰ºöËøîÂõû‰ªìÂ∫ìÁöÑÊï∞Èáè
- ÈááË¥≠Ê¨†Êï∞ÔºöÂ∑≤‰∏ãÂçïÊú™ÂÖ•Â∫ìÁöÑÂú®ÈÄîÊï∞Èáè
""")

print("\nÁ§∫‰æãSQL - ËÆ°ÁÆóÂª∫ËÆÆË°•Ë¥ßÊï∞ÈáèÔºö")
print("-" * 60)
formula_sql = f"""
WITH 
-- ÈîÄÂîÆÊï∞ÊçÆÔºàËøë30Â§©Ôºâ
sales AS (
    SELECT 
        ri.M_PRODUCT_ID,
        SUM(CASE WHEN r.TOT_AMT_ACTUAL > 0 THEN ri.QTY ELSE 0 END) AS ÈîÄÂîÆÊï∞Èáè,
        SUM(CASE WHEN r.TOT_AMT_ACTUAL < 0 THEN ABS(ri.QTY) ELSE 0 END) AS ÈÄÄË¥ßÊï∞Èáè,
        SUM(CASE WHEN r.TOT_AMT_ACTUAL > 0 THEN ri.QTY ELSE 0 END) / 30.0 AS Êó•ÂùáÈîÄÈáè
    FROM {TARGET_SCHEMA}.M_RETAILITEM ri
    JOIN {TARGET_SCHEMA}.M_RETAIL r ON ri.M_RETAIL_ID = r.ID
    JOIN {TARGET_SCHEMA}.C_STORE s ON r.C_STORE_ID = s.ID
    WHERE r.ISACTIVE = 'Y' AND r.STATUS = 2
      AND r.BILLDATE >= TO_NUMBER(TO_CHAR(SYSDATE-30, 'YYYYMMDD'))
      AND (s.CODE LIKE 'DS%' OR s.IS_ALLO2OSTORAGE = 'Y')
    GROUP BY ri.M_PRODUCT_ID
),
-- Â∫ìÂ≠òÊï∞ÊçÆÔºàÊÄª‰ªì+‰∫ë‰ªìÔºâ
inventory AS (
    SELECT 
        fa.M_PRODUCT_ID,
        SUM(fa.QTY) AS Â∫ìÂ≠òÊï∞Èáè
    FROM {TARGET_SCHEMA}.FA_STORAGE fa
    JOIN {TARGET_SCHEMA}.C_STORE s ON fa.C_STORE_ID = s.ID
    WHERE fa.ISACTIVE = 'Y'
      AND (s.CODE = '001' OR s.IS_ALLO2OSTORAGE = 'Y')
    GROUP BY fa.M_PRODUCT_ID
),
-- ÈááË¥≠Ê¨†Êï∞ÔºàÊÄª‰ªìÔºâ
purchase_rem AS (
    SELECT 
        rp.M_PRODUCT_ID,
        SUM(rp.QTYPURCHASEREM) AS ÈááË¥≠Ê¨†Êï∞
    FROM {FULL_TABLE_NAME} rp
    JOIN {TARGET_SCHEMA}.C_STORE s ON rp.C_STORE_ID = s.ID
    WHERE rp.ISACTIVE = 'Y'
      AND s.CODE = '001'  -- ÈááË¥≠ÈÄöÂ∏∏ÂÖ•ÊÄª‰ªì
    GROUP BY rp.M_PRODUCT_ID
)
SELECT 
    p.NAME AS ÂïÜÂìÅÁºñÁ†Å,
    p.VALUE AS ÂïÜÂìÅÂêçÁß∞,
    NVL(i.Â∫ìÂ≠òÊï∞Èáè, 0) AS Â∫ìÂ≠òÊï∞Èáè,
    NVL(s.Êó•ÂùáÈîÄÈáè, 0) AS Êó•ÂùáÈîÄÈáè,
    CASE WHEN NVL(s.Êó•ÂùáÈîÄÈáè, 0) > 0 
         THEN ROUND(NVL(i.Â∫ìÂ≠òÊï∞Èáè, 0) / s.Êó•ÂùáÈîÄÈáè, 1) 
         ELSE NULL 
    END AS Âë®ËΩ¨Â§©Êï∞,
    NVL(s.ÈÄÄË¥ßÊï∞Èáè, 0) AS Ëøë30Â§©ÈÄÄË¥ß,
    NVL(pr.ÈááË¥≠Ê¨†Êï∞, 0) AS ÈááË¥≠Ê¨†Êï∞,
    -- Âª∫ËÆÆË°•Ë¥ßÊï∞Èáè = (90 - Âë®ËΩ¨Â§©Êï∞) √ó Êó•ÂùáÈîÄÈáè - ÈÄÄË¥ß - ÈááË¥≠Ê¨†Êï∞
    GREATEST(0, 
        ROUND(
            (90 - NVL(i.Â∫ìÂ≠òÊï∞Èáè, 0) / NULLIF(s.Êó•ÂùáÈîÄÈáè, 0)) * NVL(s.Êó•ÂùáÈîÄÈáè, 0)
            - NVL(s.ÈÄÄË¥ßÊï∞Èáè, 0)
            - NVL(pr.ÈááË¥≠Ê¨†Êï∞, 0)
        , 0)
    ) AS Âª∫ËÆÆË°•Ë¥ßÊï∞Èáè
FROM {TARGET_SCHEMA}.M_PRODUCT p
LEFT JOIN sales s ON p.ID = s.M_PRODUCT_ID
LEFT JOIN inventory i ON p.ID = i.M_PRODUCT_ID
LEFT JOIN purchase_rem pr ON p.ID = pr.M_PRODUCT_ID
WHERE p.ISACTIVE = 'Y'
  AND NVL(s.Êó•ÂùáÈîÄÈáè, 0) > 0  -- Âè™ÁúãÊúâÈîÄÂîÆÁöÑ
ORDER BY Âª∫ËÆÆË°•Ë¥ßÊï∞Èáè DESC
FETCH FIRST 20 ROWS ONLY;
"""
print(formula_sql)

„ÄêÊ≠•È™§12„ÄëÂª∫ËÆÆË°•Ë¥ßÊï∞ÈáèËÆ°ÁÆóÂÖ¨ÂºèÈ™åËØÅ...
================================================================================

üìù ‰ºòÂåñÂêéÁöÑÂª∫ËÆÆË°•Ë¥ßÊï∞ÈáèÂÖ¨ÂºèÔºö
------------------------------------------------------------

Âª∫ËÆÆË°•Ë¥ßÊï∞Èáè = (90Â§©ÁõÆÊ†áÂë®ËΩ¨ - ÂΩìÂâçÂë®ËΩ¨Â§©Êï∞) √ó Êó•ÂùáÈîÄÈáè
             - Ëøë30Â§©ÈÄÄË¥ßÊï∞Èáè
             - ÈááË¥≠Ê¨†Êï∞ÔºàQTYPURCHASEREMÔºâ

ÂÖ∂‰∏≠Ôºö
- 90Â§©ÁõÆÊ†áÂë®ËΩ¨Ôºö‰∏öÂä°ËÆæÂÆöÁöÑÂÆâÂÖ®Â∫ìÂ≠òÂ§©Êï∞
- ÂΩìÂâçÂë®ËΩ¨Â§©Êï∞ = ÂΩìÂâçÂ∫ìÂ≠ò / Ëøë30Â§©Êó•ÂùáÈîÄÈáè
- Ëøë30Â§©ÈÄÄË¥ßÔºöÈ¢ÑËÆ°‰ºöËøîÂõû‰ªìÂ∫ìÁöÑÊï∞Èáè
- ÈááË¥≠Ê¨†Êï∞ÔºöÂ∑≤‰∏ãÂçïÊú™ÂÖ•Â∫ìÁöÑÂú®ÈÄîÊï∞Èáè


Á§∫‰æãSQL - ËÆ°ÁÆóÂª∫ËÆÆË°•Ë¥ßÊï∞ÈáèÔºö
------------------------------------------------------------

WITH
-- ÈîÄÂîÆÊï∞ÊçÆÔºàËøë30Â§©Ôºâ
sales AS (
    SELECT
        ri.M_PRODUCT_ID,
        SUM(CASE WHEN r.TOT_AMT_ACTUAL > 0 THEN ri.QTY ELSE 0 END) AS ÈîÄÂîÆÊï∞Èáè,
        SUM(CASE WHEN r.TOT_AMT_ACTUAL < 0 THEN ABS(ri.QTY) ELSE 0 END) AS ÈÄÄË¥ßÊï∞Èáè,
        SUM(CASE WHEN r.TOT_AMT_ACTUAL > 0 THEN ri.QTY ELSE 0 END) / 30.0 AS Êó•ÂùáÈîÄÈáè
    FROM BOSNDS3.M_RETAILITEM ri
    JOIN BOSNDS3.M_RETAIL r ON ri.M_RETAIL_ID = r.ID
    JOIN BOSNDS3.C_STORE s ON r.C_STORE_ID = s.ID
    WHERE r.ISACTIVE = 'Y' AND r.STATUS = 2
      AND r.BILLDATE >= TO_NUMBER(TO_CHAR(SYSDATE-30, 'YYYYMMDD'))
      AND (s.CODE LIKE 'DS%' OR s.IS_ALLO2OSTORAGE = 'Y')
    GROUP BY ri.M_PRODUCT_ID
),
-- Â∫ìÂ≠òÊï∞ÊçÆÔºàÊÄª‰ªì+‰∫ë‰ªìÔºâ
inventory AS (
    SELECT
        fa.M_PRODUCT_ID,
        SUM(fa.QTY) AS Â∫ìÂ≠òÊï∞Èáè
    FROM BOSNDS3.FA_STORAGE fa
    JOIN BOSNDS3.C_STORE s ON fa.C_STORE_ID = s.ID
    WHERE fa.ISACTIVE = 'Y'
      AND (s.CODE = '001' OR s.IS_ALLO2OSTORAGE = 'Y')
    GROUP BY fa.M_PRODUCT_ID
),
-- ÈááË¥≠Ê¨†Êï∞ÔºàÊÄª‰ªìÔºâ
purchase_rem AS (
    SELECT
        rp.M_PRODUCT_ID,
        SUM(rp.QTYPURCHASEREM) AS ÈááË¥≠Ê¨†Êï∞
    FROM BOSNDS3.RP_SIMPLESTORAGE rp
    JOIN BOSNDS3.C_STORE s ON rp.C_STORE_ID = s.ID
    WHERE rp.ISACTIVE = 'Y'
      AND s.CODE = '001'  -- ÈááË¥≠ÈÄöÂ∏∏ÂÖ•ÊÄª‰ªì
    GROUP BY rp.M_PRODUCT_ID
)
SELECT
    p.NAME AS ÂïÜÂìÅÁºñÁ†Å,
    p.VALUE AS ÂïÜÂìÅÂêçÁß∞,
    NVL(i.Â∫ìÂ≠òÊï∞Èáè, 0) AS Â∫ìÂ≠òÊï∞Èáè,
    NVL(s.Êó•ÂùáÈîÄÈáè, 0) AS Êó•ÂùáÈîÄÈáè,
    CASE WHEN NVL(s.Êó•ÂùáÈîÄÈáè, 0) > 0
         THEN ROUND(NVL(i.Â∫ìÂ≠òÊï∞Èáè, 0) / s.Êó•ÂùáÈîÄÈáè, 1)
         ELSE NULL
    END AS Âë®ËΩ¨Â§©Êï∞,
    NVL(s.ÈÄÄË¥ßÊï∞Èáè, 0) AS Ëøë30Â§©ÈÄÄË¥ß,
    NVL(pr.ÈááË¥≠Ê¨†Êï∞, 0) AS ÈááË¥≠Ê¨†Êï∞,
    -- Âª∫ËÆÆË°•Ë¥ßÊï∞Èáè = (90 - Âë®ËΩ¨Â§©Êï∞) √ó Êó•ÂùáÈîÄÈáè - ÈÄÄË¥ß - ÈááË¥≠Ê¨†Êï∞
    GREATEST(0,
        ROUND(
            (90 - NVL(i.Â∫ìÂ≠òÊï∞Èáè, 0) / NULLIF(s.Êó•ÂùáÈîÄÈáè, 0)) * NVL(s.Êó•ÂùáÈîÄÈáè, 0)
            - NVL(s.ÈÄÄË¥ßÊï∞Èáè, 0)
            - NVL(pr.ÈááË¥≠Ê¨†Êï∞, 0)
        , 0)
    ) AS Âª∫ËÆÆË°•Ë¥ßÊï∞Èáè
FROM BOSNDS3.M_PRODUCT p
LEFT JOIN sales s ON p.ID = s.M_PRODUCT_ID
LEFT JOIN inventory i ON p.ID = i.M_PRODUCT_ID
LEFT JOIN purchase_rem pr ON p.ID = pr.M_PRODUCT_ID
WHERE p.ISACTIVE = 'Y'
  AND NVL(s.Êó•ÂùáÈîÄÈáè, 0) > 0  -- Âè™ÁúãÊúâÈîÄÂîÆÁöÑ
ORDER BY Âª∫ËÆÆË°•Ë¥ßÊï∞Èáè DESC
FETCH FIRST 20 ROWS ONLY;

In [14]:
# 13. ÁªºÂêàËØÑ‰º∞
print(f"\n„ÄêÊ≠•È™§13„ÄëÁªºÂêàËØÑ‰º∞...")
print("="*80)
print("\n" + "="*80)
print(f"üìä {TARGET_TABLE} Ë°®‰Ωú‰∏∫„ÄåÈááË¥≠Ê¨†Êï∞„ÄçÊï∞ÊçÆÊ∫êÁöÑËØÑ‰º∞Êä•Âëä")
print("="*80)

assessments = []

# 1. Â≠óÊÆµÂ≠òÂú®ÊÄß
try:
    sql_check = f"""
    SELECT COUNT(*) FROM ALL_TAB_COLUMNS 
    WHERE OWNER = '{TARGET_SCHEMA}' AND TABLE_NAME = '{TARGET_TABLE}' 
    AND COLUMN_NAME = 'QTYPURCHASEREM'
    """
    cursor.execute(sql_check)
    if cursor.fetchone()[0] > 0:
        assessments.append("‚úÖ Â≠óÊÆµÂ≠òÂú®ÔºöQTYPURCHASEREM Â≠óÊÆµÂ≠òÂú®")
    else:
        assessments.append("‚ùå Â≠óÊÆµ‰∏çÂ≠òÂú®ÔºöQTYPURCHASEREM Â≠óÊÆµ‰∏çÂ≠òÂú®")
except:
    assessments.append("‚ö†Ô∏è Â≠óÊÆµÊ£ÄÊü•Â§±Ë¥•")

# 2. Êï∞ÊçÆÈáè
try:
    cursor.execute(f"SELECT COUNT(*) FROM {FULL_TABLE_NAME} WHERE ISACTIVE = 'Y'")
    count = cursor.fetchone()[0]
    assessments.append(f"‚úÖ Êï∞ÊçÆÈáèÔºö{count:,} Êù°ÊúâÊïàËÆ∞ÂΩï")
except:
    assessments.append("‚ö†Ô∏è Êï∞ÊçÆÈáèÊ£ÄÊü•Â§±Ë¥•")

# 3. ÈááË¥≠Ê¨†Êï∞ÊúâÂÄºÊØî‰æã
try:
    cursor.execute(f"""
    SELECT 
        COUNT(CASE WHEN QTYPURCHASEREM > 0 THEN 1 END),
        COUNT(*),
        SUM(QTYPURCHASEREM)
    FROM {FULL_TABLE_NAME} WHERE ISACTIVE = 'Y'
    """)
    info = cursor.fetchone()
    if info[1] > 0:
        rate = info[0] * 100.0 / info[1]
        assessments.append(f"‚úÖ ÊúâÈááË¥≠Ê¨†Êï∞ÁöÑËÆ∞ÂΩïÔºö{info[0]:,} Êù° ({rate:.2f}%)")
        assessments.append(f"‚úÖ ÈááË¥≠Ê¨†Êï∞ÂêàËÆ°Ôºö{info[2]:,} ‰ª∂")
except:
    assessments.append("‚ö†Ô∏è ÈááË¥≠Ê¨†Êï∞ÁªüËÆ°Â§±Ë¥•")

# 4. ÂÖ≥ËÅîÊÄß
assessments.append("‚úÖ ÂÖ≥ËÅîÂ≠óÊÆµÔºöM_PRODUCT_ID + C_STORE_ID ÂèØ‰∏é FA_STORAGE ÂÖ≥ËÅî")

print("\nËØÑ‰º∞ÁªìÊûúÔºö")
for i, assessment in enumerate(assessments, 1):
    print(f"{i}. {assessment}")

print("\n" + "="*80)
print("üí° ÁªìËÆ∫‰∏éÂª∫ËÆÆÔºö")
print("="*80)
print(f"1. ‚úÖ {TARGET_TABLE}Ë°®ÂåÖÂê´ÈááË¥≠Ê¨†Êï∞(QTYPURCHASEREM)Â≠óÊÆµ")
print("2. ‚úÖ ÂèØÈÄöËøá M_PRODUCT_ID + C_STORE_ID ‰∏é FA_STORAGE ÂÖ≥ËÅî")
print("3. ‚úÖ ÈááË¥≠Ê¨†Êï∞‰∏ªË¶ÅÈõÜ‰∏≠Âú®ÊÄª‰ªì(001)")
print("4. üìù Âª∫ËÆÆÔºö")
print("   - Âú®Âª∫ËÆÆË°•Ë¥ßÊï∞ÈáèËÆ°ÁÆó‰∏≠Âä†ÂÖ• QTYPURCHASEREM")
print("   - ÂÖ¨ÂºèÔºöÂª∫ËÆÆË°•Ë¥ß = (90Â§©ÁõÆÊ†á-ÂΩìÂâçÂë®ËΩ¨)√óÊó•ÂùáÈîÄÈáè - ÈÄÄË¥ß - ÈááË¥≠Ê¨†Êï∞")
print("   - Á≠õÈÄâÊù°‰ª∂ÔºöISACTIVE = 'Y' AND C_STORE_ID ÂØπÂ∫îÊÄª‰ªì")
print("="*80)

„ÄêÊ≠•È™§13„ÄëÁªºÂêàËØÑ‰º∞...
================================================================================

================================================================================
üìä RP_SIMPLESTORAGE Ë°®‰Ωú‰∏∫„ÄåÈááË¥≠Ê¨†Êï∞„ÄçÊï∞ÊçÆÊ∫êÁöÑËØÑ‰º∞Êä•Âëä
================================================================================

ËØÑ‰º∞ÁªìÊûúÔºö
1. ‚úÖ Â≠óÊÆµÂ≠òÂú®ÔºöQTYPURCHASEREM Â≠óÊÆµÂ≠òÂú®
2. ‚úÖ Êï∞ÊçÆÈáèÔºö0 Êù°ÊúâÊïàËÆ∞ÂΩï
3. ‚úÖ ÂÖ≥ËÅîÂ≠óÊÆµÔºöM_PRODUCT_ID + C_STORE_ID ÂèØ‰∏é FA_STORAGE ÂÖ≥ËÅî

================================================================================
üí° ÁªìËÆ∫‰∏éÂª∫ËÆÆÔºö
================================================================================
1. ‚úÖ RP_SIMPLESTORAGEË°®ÂåÖÂê´ÈááË¥≠Ê¨†Êï∞(QTYPURCHASEREM)Â≠óÊÆµ
2. ‚úÖ ÂèØÈÄöËøá M_PRODUCT_ID + C_STORE_ID ‰∏é FA_STORAGE ÂÖ≥ËÅî
3. ‚úÖ ÈááË¥≠Ê¨†Êï∞‰∏ªË¶ÅÈõÜ‰∏≠Âú®ÊÄª‰ªì(001)
4. üìù Âª∫ËÆÆÔºö
   - Âú®Âª∫ËÆÆË°•Ë¥ßÊï∞ÈáèËÆ°ÁÆó‰∏≠Âä†ÂÖ• QTYPURCHASEREM
   - ÂÖ¨ÂºèÔºöÂª∫ËÆÆË°•Ë¥ß = (90Â§©ÁõÆÊ†á-ÂΩìÂâçÂë®ËΩ¨)√óÊó•ÂùáÈîÄÈáè - ÈÄÄË¥ß - ÈááË¥≠Ê¨†Êï∞
   - Á≠õÈÄâÊù°‰ª∂ÔºöISACTIVE = 'Y' AND C_STORE_ID ÂØπÂ∫îÊÄª‰ªì
================================================================================

In [15]:
# 14. ÂÖ≥Èó≠Êï∞ÊçÆÂ∫ìËøûÊé•
print("\n„ÄêÊ≠•È™§14„ÄëÂÖ≥Èó≠Êï∞ÊçÆÂ∫ìËøûÊé•...")
cursor.close()
conn.close()
print("‚úì ËøûÊé•Â∑≤ÂÖ≥Èó≠")

print("\n" + "="*80)
print("Êé¢Á¥¢ÂàÜÊûêÂÆåÊàêÔºÅ")
print("="*80)

„ÄêÊ≠•È™§14„ÄëÂÖ≥Èó≠Êï∞ÊçÆÂ∫ìËøûÊé•...
‚úì ËøûÊé•Â∑≤ÂÖ≥Èó≠

================================================================================
Êé¢Á¥¢ÂàÜÊûêÂÆåÊàêÔºÅ
================================================================================

---

## üìã RP_SIMPLESTORAGE Ë°®Êé¢Á¥¢ÊÄªÁªì

### Ê†∏ÂøÉÂ≠óÊÆµ

| Â≠óÊÆµ | ËØ¥Êòé | ÈáçË¶ÅÊÄß |
|------|------|--------|
| **M_PRODUCT_ID** | ÂïÜÂìÅID | ‚≠êÂÖ≥ËÅîÈîÆ |
| **C_STORE_ID** | Â∫ó‰ªìID | ‚≠êÂÖ≥ËÅîÈîÆ |
| **QTY** | Â∫ìÂ≠òÊï∞Èáè | Â∫¶Èáè |
| **QTYPURCHASEREM** | ÈááË¥≠Êú™ÂõûË¥ßÊï∞ÈáèÔºàÈááË¥≠Ê¨†Êï∞Ôºâ | ‚≠êÊ†∏ÂøÉÂ≠óÊÆµ |
| **ISACTIVE** | ÊòØÂê¶ÊúâÊïà | Á≠õÈÄâÊù°‰ª∂ |

### ‰∏öÂä°Âê´‰πâ

| ÂêçÁß∞ | ËØ¥Êòé |
|------|------|
| ÊùéÁªèÁêÜÁß∞Âëº | Â∫ìÂ≠òÊ¨†Êï∞ / ÈááË¥≠Ê¨†Êï∞ |
| ‰ºØ‰øäÁ≥ªÁªüÂêçÁß∞ | ÈááË¥≠Êú™ÂõûË¥ßÊï∞Èáè |
| Â≠óÊÆµÂêç | QTYPURCHASEREM |
| ‰∏öÂä°Âê´‰πâ | Â∑≤‰∏ãÈááË¥≠ËÆ¢Âçï‰ΩÜÂ∞öÊú™ÂÖ•Â∫ìÁöÑÊï∞ÈáèÔºàÂú®ÈÄîÂ∫ìÂ≠òÔºâ |

### ‰ΩøÁî®Âª∫ËÆÆ

```sql
-- Ëé∑ÂèñÈááË¥≠Ê¨†Êï∞
SELECT 
    M_PRODUCT_ID,
    SUM(QTYPURCHASEREM) AS ÈááË¥≠Ê¨†Êï∞
FROM RP_SIMPLESTORAGE
WHERE ISACTIVE = 'Y'
  AND C_STORE_ID = (SELECT ID FROM C_STORE WHERE CODE = '001')  -- ÊÄª‰ªì
GROUP BY M_PRODUCT_ID
```

### Âª∫ËÆÆË°•Ë¥ßÂÖ¨ÂºèÔºàÊõ¥Êñ∞ÁâàÔºâ

```
Âª∫ËÆÆË°•Ë¥ßÊï∞Èáè = (90Â§©ÁõÆÊ†áÂë®ËΩ¨ - ÂΩìÂâçÂë®ËΩ¨Â§©Êï∞) √ó Êó•ÂùáÈîÄÈáè 
             - Ëøë30Â§©ÈÄÄË¥ßÊï∞Èáè
             - QTYPURCHASEREMÔºàÈááË¥≠Ê¨†Êï∞Ôºâ
```